<html style="text-align:center; font-family:tahoma"></html>
<h2> <%= @opponents_hand %> beats <%= @my_hand %></h2>
<h1> You are the loser </h1>
<form action ='/RPS'>
	<button type='submit' value='play'>Play again</button>
</form>