<html style="text-align:center; font-family:tahoma"></html>
<h3> Hi <%= @player.name %></h3>
</br>
<h3> We are just waiting for your opponent to arrive </h3>
<form action='/waiting_room' method ='post'>
<button type='submit' value='ok'>OK</button>
</form>