<html style="text-align:center; font-family:tahoma"></html>
<h3> Hi <%= @player.name %></h3>
</br>
<h3> Your opponent is not yet ready to start a new game... </h3>
<form action='/reset' method ='post'>
<button type='submit' value='ok'>Try again</button>
</form>