<html style="text-align:center; font-family:tahoma"></html>
<h2> <%= @my_hand %> beats <%= @opponents_hand %></h2>
<h1> You are the winner </h1>
<form action ='/RPS'>
	<button type='submit' value='play'>Play again</button>
</form>